covid-env/
counties-data/distribution-of-population-age-3-years-and-above-by-school-attendance-status-per-subcounty.xlsx
counties-data/distribution-of-population-age-3-years-and-above-by-school-attendance-status-sex-special-age-gr.xlsx
counties-data/kenya-cencus-ict-data-by-subcounty.zip
counties-data/kenya-with-sub-counties.mxd
counties-data/kontur_boundaries_KE_20220407.gpkg.gz
counties-data/number-of-icu-beds-per-county.xlsx
counties-data/science-and-technology_ken.csv
counties-data/kenya-cencus-ict-data-by-subcounty/Kenya Cencus ICT Data by Subcounty/kenya_admn.cpg
counties-data/kenya-cencus-ict-data-by-subcounty/Kenya Cencus ICT Data by Subcounty/kenya_admn.dbf
counties-data/kenya-cencus-ict-data-by-subcounty/Kenya Cencus ICT Data by Subcounty/kenya_admn.prj
counties-data/kenya-cencus-ict-data-by-subcounty/Kenya Cencus ICT Data by Subcounty/kenya_admn.sbn
counties-data/kenya-cencus-ict-data-by-subcounty/Kenya Cencus ICT Data by Subcounty/kenya_admn.sbx
counties-data/kenya-cencus-ict-data-by-subcounty/Kenya Cencus ICT Data by Subcounty/kenya_admn.shp
counties-data/kenya-cencus-ict-data-by-subcounty/Kenya Cencus ICT Data by Subcounty/kenya_admn.shx
